@import "light.css";
/*dark theme augmentation*/
:root {
    --accent-color: #cdf6d5;
    --text-color: #D9D9D9;
    --body-bg-color: #767E90;
    --gray2: #4F5763;
    --accent3: #A2968B;
}
body {
    color: var(--text-color);
    background: var(--body-bg-color);
}

#hero {
    background-image: url(images/figma-export/hero-dark-sm.png);
}
#intro {
    color:  var(--accent-color);
}

.service {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 100%), var(--gray2);
}
article h3, section h3 {
    color: var(--accent-color);
}

.service:nth-of-type(2n){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.4%, rgba(0, 0, 0, 0.1) 100%), var(--body-bg-color);
}

.input-container{
    background-color: var(--body-bg-color);
    border: 1px solid;
}
.input-container:hover {
    background-color: var(--accent3);
}
.input-container:focus-within {
    background-color: var(--gray2);
}

input, textarea {
    color: white;
}
label {
    font-weight: bold;
}

#envelope{
    background-image: url(images/figma-export/envelope-dark.svg);
}

footer{
    background-color: var(--gray2);
}


/* Force browsers to load CSS before showing the page
must be the last line:*/
#loadOverlay{display: none;}