@import "base.css";
/*----------------------Tablet------------------------*/
@media only screen and (min-width: 600px) and (max-width: 900px) {
    #hero {
        background-image: url(images/figma-export/hero-light-md.png);
        height: 400px;
    }
    #logo{
        height: 3rem;
    }

    #intro {
        width: 324px;
        margin-left: 50px;
    }

    .header-container {
        padding: 0 50px;
    }

    .service, #thank-you {
        height: 500px;
        padding-top: 66px;
    }

    #envelope{
        width: 100px;
        height: 100px;
    }

    #thank-you{
        font-size: 1.266rem;
    }

    .feature-img{
        width: 272px;
        height: 367px;
    }

}
/*--------------------Desktop---------------------*/

@media only screen and (min-width: 901px) {
    #hero {
        background-image: url(images/figma-export/hero-light-lg.png);
        height: 500px;
    }

    #intro {
        width: 448px;
        margin-left: 80px;
    }

    #logo{
        height: 3.7rem;
    }

    .header-container {
        padding: 0 80px;
    }
    .service, #thank-you {
        height: 600px;
        padding-top: 66px;
    }
    #thank-you{
        font-size: 1.424rem;
    }
    #envelope{
        width: 120px;
        height: 120px;
    }
    .feature-img{
        width: 346px;
        height: 468px;
    }

    #map.enlarged {
        transform: scale(1.3) translateX(30px);
        z-index: 11;
    }

    .btn {
        width: 180px;

    }
    /*input[type="submit"]{*/
    /*    height: 42px;*/
    /*}*/

}

@media only screen and (min-width: 1000px) {
    .service {
        grid-gap: 100px;
    }
}

@media only screen and (min-width: 1440px) {
        :root{
            --translation-length: 1500px;
        }
}

/* Force browsers to load CSS before showing the page
must be the last line:*/
#loadOverlay{display: none;}